<div class="infinite-carousel">
	<div class="infinite-carousel__group">
		<div class="infinite-carousel__card">1</div>
		<div class="infinite-carousel__card">2</div>
		<div class="infinite-carousel__card">3</div>
		<div class="infinite-carousel__card">4</div>
		<div class="infinite-carousel__card">5</div>
		<div class="infinite-carousel__card">6</div>
	</div>
	<div aria-hidden class="infinite-carousel__group">
		<div class="infinite-carousel__card">1</div>
		<div class="infinite-carousel__card">2</div>
		<div class="infinite-carousel__card">3</div>
		<div class="infinite-carousel__card">4</div>
		<div class="infinite-carousel__card">5</div>
		<div class="infinite-carousel__card">6</div>
	</div>
</div>